<p>
  Pedir recetas works
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt molestias aliquam commodi accusantium corrupti, alias doloremque eius consectetur libero, assumenda nostrum autem consequatur fuga excepturi. Voluptate saepe adipisci cupiditate dolore!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit voluptas cumque incidunt obcaecati, labore qui repudiandae ut omnis debitis enim beatae voluptatem id consequatur tempore, ipsum odit totam quam eaque?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, fugit error. Explicabo, quidem quo. Porro aperiam exercitationem unde error voluptatem laudantium maxime nulla velit aliquid nisi aut, dolorem fugiat officiis.
  <lista-recetas></lista-recetas>
</p>