article{
    margin: auto;
    text-align: center;
}

h1{
    margin-top: 5.5%;
    margin-bottom: 4%;
    text-shadow: 1px 1px 4px rgba(80, 87, 126, 0.71);
    color: #fff;
}

article div{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10%;
    width: 35%;
    background-color: #00E7FF;
    border-radius: 10px;
    box-shadow: 1px 4px 4px rgba(80, 87, 126, 0.61);
    padding-bottom: 2.5%;
}

input:first-of-type{
    margin-top: 2.5%;
}

input{
    margin-bottom: 10px;
    border-radius: 5px;
    border: transparent;
    padding: 5px;
}

button{
    background-color: #00E79F;
    color: #fff;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 5px;
    margin: 15px;
    width:100px;
}

@media screen and(max-width:650px){
    article div{
        min-width: 70%;
        transition: 0.5s ease;
    }
}
