<!--The content below is only a placeholder and can be replaced.-->
<!-- <cabecera> -->
  <cabecera></cabecera>
  <!-- 
    <bRecetas>
    </bRecetas>
   -->
<!-- </cabecera> -->
<!-- <pantalla-chef></pantalla-chef> -->
<router-outlet>
  <!-- 
    <Pantalla general de recetas y mapa>
      <listaRecetas></listaRecetas>
      <mapa>[RouterLinks]="/PantallasCocineros"</mapa>
    </Pantalla general de recetas y mapa>
   -->


   <!-- 
     <Pantalla de cocinero>
        <perfil>
          <chef>foto, nombre, especialidad, puntuacion</chef>
          <bio>biografia chef, autodescripcion</bio>
        <galeria>Fotos de platos de [chef]</galeria>
        <comentariosChef>lista de comentarios de [usuario] sobre el [chef] y su puntuacion a este</comentariosChef>
        </perfil>
     </Pantalla de cocinero>
    -->

    <!-- 
      <Pantalla Favoritos>
        <bFavoritos>
        </bFavoritos>
        <listaFavoritos>
        </listaFavoritos>
      </Pantalla Favoritos>
     -->
</router-outlet>

<pie></pie>
