article:first-of-type{
    // display: flex;
    // flex-direction: column;
    text-align: center;
    // border: solid 1px black;
    width: 85%;
    margin: auto;
    border: 1px solid #000;
    z-index: 0;
    background-color: rgb(246, 244, 244);
    
    
        > figure >img{
            border: 1px solid black;
            border-radius: 50%;
            width: 20%;
            min-width: 200px;
            object-fit: contain;
            margin-top: 15px;
        
        }
        >h2{
           
            color: rgb(26, 26, 26);
        }
        >h4{
         
            color: rgb(163, 163, 163);
        }
        > .descrip{
            display:inline-block;
          border: solid 1px black;
          box-shadow: 1px 1px 4px rgb(68, 68, 68) inset;
          width: 200px;
          height: 100px;
          margin-bottom: 15px;
        }
        .carousel-item{
          overflow: hidden;
          img{height: 50vh;}
        }
        > div img{
            object-fit: contain;
            width: 100%;
        }

        

}




