<header id="bigHead">
    <input type="checkbox" class="checkbox" id="menu-toogle"/>
      <label for="menu-toogle" class="menu-toogle"></label>
      <nav class="nav">
        <a [routerLink]="['/login']" routerLinkActive='current' [routerLinkActiveOptions]= '{exact:true}' class="nav__item">Login</a>
        <a [routerLink]="['/pedir']" routerLinkActive='current' [routerLinkActiveOptions]= '{exact:true}' class="nav__item">Haz tu pedido</a>
        <a [routerLink]="['/chefs/0']" routerLinkActive='current' [routerLinkActiveOptions]= '{exact:true}' class="nav__item">Chefs</a>
        <a [routerLink]="['/vegan']" routerLinkActive='current' [routerLinkActiveOptions]= '{exact:true}' class="nav__item">¿Vegetariano o vegano?</a>
        <a [routerLink]="['/postre']" routerLinkActive='current' [routerLinkActiveOptions]= '{exact:true}' class="nav__item">¿Postre?</a>
        <a [routerLink]="['/soporte']" routerLinkActive='current' [routerLinkActiveOptions]= '{exact:true}' class="nav__item">Soporte</a>
      </nav>
    <a [href]="['/pedir']"><img [src]="src"></a>
    <div class="searchbar" *ngIf="ruta">
        <input type="text" [(ngModel)]="filtrarTexto" placeholder="¿Qué te apetece?"/>
        <button><img src="../assets/img/search.png" alt="search button"></button>
    </div>
  </header>