
<div class="pos-f-t">
  <!-- Desplegable -->
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Pedir</h5>
      <span class="text-muted">Chefs</span>
    </div>
  </div>
  <!-- Menú burger -->
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Barra de búsqueda -->
    <div class="md-form mt-0">
      <input class="form-control" type="text" placeholder="Buscar receta..." aria-label="Search">
    </div>
  </nav>
</div>
