<header>
    <input type="checkbox" class="checkbox" id="menu-toogle"/>
      <label for="menu-toogle" class="menu-toogle"></label>
      <nav class="nav">
        <a href="#" class="nav__item">Main</a>
        <a href="#" class="nav__item">Chefs</a>
        <a href="#" class="nav__item current">Recetas</a>
        <a href="#" class="nav__item">Mapa</a>
        <a href="#" class="nav__item">Soporte</a>
      </nav>
    <img src="../assets/img/ORfooter.png">
    <div class="searchbar">
        <input type="text" placeholder="¿Qué te apetece?"/>
        <button><img src="../assets/img/search.png" alt="search button"></button>
    </div>
  </header>