footer{
    background-color: #00E7FF;
    >div:first-of-type{
        text-align: center;
        img{
            width: 10%;
        }
    }
    >div:last-of-type{
        text-align: center;
        color: #fff;
    }
    a{
        color: #fff;
        text-decoration: none;
    }
    a:hover{
        color: #999;
    }
}