/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(./assets/img/fondo.png);
    background-size: cover;
    >div{
        background-color: rgba($color: #ffffff, $alpha: 0.4)
    }
}
